.DisplayBookMainDiv{
    margin-left: 14vw;
    margin-top: 10vh;
    display: flex;
    gap: 5vw;
}


.DisplayBookFirstDiv{
    display: flex;
}
.DisplayBookFirstDivFirstBox{

}

.DisplayBookFirstDivFirstBoxFirst{
    width: 3vw;
    height: 6vh;
    background-color: rgb(214, 238, 170);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.DisplayBookFirstDivFirstBoxSecond{
    width: 3vw;
    height: 6vh;
    background-color: rgb(170, 238, 237);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.DisplayBookFirstDivSecondBox{

}
.DisplayBookFirstDivSecondBoxImageBox{
    width: 23vw;
    height: 50vh;
    border: 1px solid red;
    background-color: palegoldenrod;
    display: flex;
    justify-content: center;
    align-items: center;
}


.DisplayBookFirstDivSecondBoxButtonBox{
    display: flex;
    justify-content: space-around;
    margin-top: 2vw;
    gap: 2%;
}

.DisplayBookSecondDivBookDetails{
    width: 40vw;
    height: 100%;
    border: 1px solid black;
    background-color: rgb(170, 238, 195);
}

.DisplayBookSecondDivCustomerFeedbackAdd{
    width: 40vw;
    height: 100%;
    border: 1px solid black;
    background-color: rgb(238, 210, 170);   
}