.SingupMainDiv{
    width: 32vw;
    height: 55vh;
    border-radius: 2%;
    margin-top: 2vw;

    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    gap: 0.2vw;
}

.SingUpFormButton{
    width: 21.5vw;
    gap: 4vh;
}