.LoginMainDiv{
    width: 32vw;
    height: 55vh;
    border-radius: 2%;
    margin-top: 2vw;

    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    gap: 1vw;
}

.LoginFormButton{
    width: 21.5vw;
    gap: 4vh;
}

.OrTextDiv{
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 20px;
    font: bolder
}

